---
layout: default
title: Borbulhas.com
overview: true
---

<span class="latest-article">Artigos sobre borbulhas (acne)</span>

<h2>Borbulhas</h2>

<ul class="index">
  {% for post in site.categories.acne %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

<h2>Tratamento das borbulhas</h2>

<ul class="index">
  {% for post in site.categories.tratamento %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

<h2>Dieta para combater as borbulhas</h2>

<ul class="index">
  {% for post in site.categories.dieta %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

<h2>Cuidados a ter para prevenir as borbulhas</h2>

<ul class="index">
  {% for post in site.categories.cuidados %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

<h2>Glossário</h2>

<ul class="index">
  {% for post in site.categories.glossario %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
